body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: white;
}

.clusterLabel {
  font-family: system-ui;
  position: absolute;
  max-width: 125px;
  height: auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transition: top 0.4s cubic-bezier(0, 0, 0.2, 1),
    left 0.4s cubic-bezier(0, 0, 0.2, 1), opacity 0.4s ease-in;
  pointer-events: none;
  font-size: calc(0.7rem + 0.3vmin);
}
.react-joyride__tooltip {
  font-family: system-ui;
}
#root {
  background: white;
}
@media (min-width: 385px) {
  #root {
    min-height: 100vh;
  }
}
[data-test-id='button-primary'][aria-label='Next'] {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btnNextDisabled {
  pointer-events: none;
  opacity: 0.3;
  background-color: tomato !important;
}
